<a class="usa-skipnav" href="#main-content">Skip to main content</a>
{% include 'components/usa-banner.njk' %}
<section class="fac-beta-banner">
  <div class="grid-container">This application is currently under active development. Thank you for helping to improve the FAC by participating in user testing.</div>
</section>
<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
        <div class="usa-navbar">
            <div class="usa-logo" id="basic-logo">
                <em class="usa-logo__text">
                    <a href="{{ config.baseUrl }}" title="FAC.gov">
                        <strong>FAC</strong>.gov
                    </a>
                </em>
            </div>
            <button class="usa-menu-btn">Menu</button>
        </div>

        <nav aria-label="Primary navigation" class="usa-nav">
            <button class="usa-nav__close">
                <img src="{{ config.baseUrl }}assets/img/usa-icons/close.svg" role="img" alt="Close" />
            </button>

            <ul class="usa-nav__primary usa-accordion">
                {% for section in global.navigation.primary %}
                    {% if section.links %}

                        <li class="usa-nav__primary-item">
                            <button
                                class="usa-accordion__button usa-nav__link"
                                aria-expanded="false"
                                aria-controls="basic-nav-{{ section.id }}"
                            >
                                <span>{{ section.text }}</span>
                            </button>

                            <ul id="basic-nav-{{ section.id }}" class="usa-nav__submenu">
                                {% for link in section.links %}
                                    <li class="usa-nav__submenu-item">
                                        <a href="{{ [config.baseUrl, link.href] | join }}">{{ link.text }}</a>
                                    </li>
                                {% endfor %}
                            </ul>

                        </li>
                    {% elif section.href %}
                        <li class="usa-nav__primary-item">
                            <a href="{{ [config.baseUrl, section.href] | join }}" class="usa-nav__link">
                                <span>{{ section.text }}</span>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="sign-in-search">
                <form class="usa-search usa-search--small js-search-form" id="search_form"
                      action="https://search.usa.gov/search"
                      method="get"
                      role="search">
                    <input type="hidden" name="affiliate" id="affiliate" value="fac-transition-site" autocomplete="off" />
                    <label class="usa-sr-only" for="query">
                        Search
                    </label>
                    <input
                        class="usa-input"
                        id="query"
                        type="search"
                        name="query"
                    />
                    <button class="usa-button" type="submit" data-disable-with="Search">
                        <img
                            src="{{ config.baseUrl }}assets/img/usa-icons-bg/search--white.svg"
                            class="usa-search__submit-icon"
                            alt="Search"
                        />
                    </button>
                </form>
            </div>
        </nav>
    </div>
</header>
