<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended">
    
    <div class="usa-navbar">
            <div class="usa-logo" id="basic-logo">
                <a class="usa-logo-link" href="{{ config.baseUrl }}">
                    <em class="usa-logo__text grid-row">
                        <div class="font-sans-sm text-normal text-primary-dark width-15 margin-left-1 margin-top-05 display-grid grid-column">
                            <p class="margin-0">Federal Audit</p>
                            <p class="margin-0">Clearinghouse</p>
                        </div>
                    </em>
                </a>
            </div>
        <button type="button" class="usa-menu-btn">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav usa-nav-container-links">
        <div class="usa-nav__inner">
            <button type="button" class="usa-nav__close">
                <img src="/assets/img/usa-icons/close.svg" role="img" alt="Close" />
            </button>
            <div class="usa-nav-container padding-0">
                <ul class="usa-nav__primary usa-accordion">
                    {% for section in global.navigation.primary %}
                        {% if section.links %}
                            <li class="usa-nav__primary-item">
                                <button
                                    class="usa-accordion__button usa-nav__link"
                                    aria-expanded="false"
                                    aria-controls="basic-nav-{{ section.id }}"
                                >
                                    <span>{{ section.text }}</span>
                                </button>
                                <ul id="basic-nav-{{ section.id }}" class="usa-nav__submenu">
                                    {% for link in section.links %}
                                        <li class="usa-nav__submenu-item">
                                            {% set linkUrl = link.href %}
                                            {% if not '://' in linkUrl %}
                                                {% set linkUrl = [config.baseUrl, link.href] | join %}
                                            {% endif %}
                                            <a href="{{ linkUrl }}" {{ ["target=", link.target] | join if link.target }}>{{ link.text }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>

                            </li>
                        {% elif section.href %}
                            {% set linkUrl = section.href %}
                            {% if not '://' in linkUrl %}
                                {% set linkUrl = [config.baseUrl, section.href] | join %}
                            {% endif %}
                            <li class="usa-nav__primary-item">
                                <a href="{{ linkUrl }}" {{ ["target=", section.target] | join if section.target }} class="usa-nav__link">
                                    <span>{{ section.text }}</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li class="usa-nav__primary-item">
                        <a class="usa-nav__link text-primary-dark" href="https://support.fac.gov/hc" target="_blank">
                            <span class="text-primary-dark">Helpdesk</span>
                        </a>
                    </li>
                    <li class="usa-nav__primary-item flex-align-self-center margin-left-2 width-card desktop:width-15 padding-top-2 desktop:padding-top-0">
                        <span class="text-primary-darker"><strong>OMB#</strong> 3090-0330 <strong>EXP:</strong> 09/30/2026</span>
                    </li>
                </ul>
            </div>
            <div class="usa-nav__secondary flex flex-row flex-align-center">
                <div class="search">
                    <form class="usa-search usa-search--small margin-bottom-1" id="search_form" action="https://search.usa.gov/search" method="get" role="search">
                        <input type="hidden" name="affiliate" id="affiliate" value="fac-transition-site" autocomplete="off">
                        <label class="usa-sr-only" for="query">
                            Search
                        </label>
                        <input class="usa-input" id="query" type="search" name="query" placeholder="Search www.fac.gov">
                        <button class="usa-button bg-primary-darker" type="submit" data-disable-with="Search">
                            <img src="{{ config.baseUrl }}assets/img/usa-icons-bg/search--white.svg" class="usa-search__submit-icon" alt="Search">
                        </button>
                    </form>
                </div>
                <div class="sign-in padding-left-2 margin-left-2 border-left border-primary-dark">
                    <a class="sign-in-logo display-flex flex-row"
                    aria-controls="login-modal"
                    href="https://app.fac.gov/openid/login/"
                    data-open-modal
                    tabindex="0"
                    role="button">
                        <svg class="usa-icon usa-icon--size-4" aria-hidden="true" focusable="false" role="img">
                            <use xlink:href="{{ config.baseUrl }}assets/img/sprite.svg#save_alt"></use>
                        </svg>
                        <span class="font-sans-sm">Sign in</span>
                    </a>
                    <div class="usa-modal usa-modal--lg"
                        id="login-modal"
                        aria-labelledby="login-modal-heading"
                        aria-describedby="login-modal-description">
                        <div class="usa-modal__content">
                            <div class="usa-modal__main">
                                <h2 class="usa-modal__heading" id="login-modal-heading">You must log in to continue</h2>
                                <div id="login-modal-description">
                                    <p>
                                        Submitting information to the Federal Audit Clearinghouse requires authentication
                                        which will now be handled by <a href="http://login.gov">Login.gov</a>.
                                        <strong>You cannot use your old Census FAC credentials to access the new GSA
                                        system.</strong> On the next screen you can use an existing Login.gov
                                        account or create a new one to securely sign in.
                                    </p>
                                </div>
                                <div class="usa-modal__footer">
                                    <ul class="usa-button-group">
                                        <li class="usa-button-group__item">
                                            <a href="https://app.fac.gov/openid/login/">
                                                <button type="button"
                                                        class="usa-button sign-in-button"
                                                        id="sign-in"
                                                        data-close-modal>Authenticate with Login.gov</button>
                                            </a>
                                        </li>
                                        <li class="usa-button-group__item">
                                            <button type="button"
                                                    class="usa-button usa-button--unstyled padding-105 text-center"
                                                    data-close-modal>Cancel</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="usa-button usa-modal__close"
                                    aria-label="Close this window"
                                    data-close-modal>
                                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                    <img src="{{ config.baseUrl }}assets/img/usa-icons/close.svg" role="img" alt="Close" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>