--- 
layout: layout.njk 
--- 
<div class="grid-container">

<div class="grid-container">
  {{ content | safe }} 
</div>

<div class="grid-container">
  <div class="grid-row">
    <div class="tablet:grid-col">
      <h3>{{grantees.title}}</h3>
      <ul>
      {% for p in collections.grantees %}
          <li><a href="{{p.url}}">{{p.data.title}}</a></li>
      {% endfor %}
      </ul>
    </div>
    <div class="tablet:grid-col">
      <h3>{{auditors.title}}</h3>
      {% for p in collections.auditors %}
          <li><a href="{{p.url}}">{{p.data.title}}</a></li>
      {% endfor %}
    </div>
    <div class="tablet:grid-col">
      <h3>{{feds.title}}</h3>
      {% for p in collections.feds %}
          <li><a href="{{p.url}}">{{p.data.title}}</a></li>
      {% endfor %}
    </div>
  </div>
</div>

</div>