<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Grab title from the page data and dump it here -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline' https://touchpoints.app.cloud.gov https://dap.digitalgov.gov https://www.google-analytics.com; img-src 'self' https://touchpoints.app.cloud.gov; style-src 'self' 'unsafe-inline'; object-src 'none'; worker-src 'none';">

  <link rel="stylesheet" href="{{'/assets/css/styles.css' | url}}" media="all" type="text/css">

  <title>{{ global.site_name }}</title>
</head>

<body>
  {% include 'header.njk' %} 
  <main id="main-content">
    {{ content | safe }} 
  </main>
  {% include 'footer.njk' %}
  <script src="{{'/assets/js/uswds.min.js' | url}}" type="text/javascript"></script>

  <!-- We participate in the US government's analytics program. See the data at analytics.usa.gov. -->
  <script async type="text/javascript" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA&subagency=TTS,OROS" id="_fed_an_ua_tag"></script>

  <!-- Add Touchpoints intercept -->
  <script src="https://touchpoints.app.cloud.gov/touchpoints/9412c559.js" async></script>
</body>
</html>
