<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" 
              content="default-src 'self';
                    connect-src https://www.google-analytics.com https://gov1.siteintercept.qualtrics.com https://api.data.gov ws://localhost:8080/;
                    frame-src https://feedback.gsa.gov/ https://www.google.com/recaptcha/ https://recaptcha.google.com/recaptcha/;
                    img-src 'self' https://gov1.siteintercept.qualtrics.com https://*.amazonaws.com/uploads/form/logo/3110/logo_square_Vector80w(2).jpg data:;
                    object-src 'none';
                    script-src 'self' 'unsafe-inline' https://gov1.siteintercept.qualtrics.com https://*.gov1.siteintercept.qualtrics.com 
                        https://dap.digitalgov.gov https://www.google-analytics.com https://www.googletagmanager.com 
                        http://search.usa.gov 
                        https://api.data.gov https://www.google.com/recaptcha/ https://www.gstatic.com/recaptcha/;
                    style-src 'self' 'unsafe-inline' https://api.data.gov;
                    worker-src 'none';">
        <meta name="{{meta.name}}" description="{{meta.description}}">
        <link rel="icon" type="image/x-icon" href="{{ config.baseUrl }}assets/img/favicons/icon_logo.svg" />
        <link rel="stylesheet" href="{{ config.baseUrl }}assets/css/styles.css" media="all" type="text/css">
        <title>{{ title }}</title>

        {# Add Qualtrics feedback form to every page. Leave the snippet at the bottom of the head, as it adds to the top of the body and moves things around. #}
        {% include './components/qualtrics.njk' %}
    </head>

    <body>
        {% include './components/usa-banner.njk' %}
        {# To enable the maintenance banner, uncomment below. Be sure to change the messaging in the component. #}
        {# {% include './components/maintenance-banner.njk' %} #}
        {# Similarly, enable the status banner blow. Use in intances of app outages. The generic messaging is likely fine. #}
        {# {% include './components/status-banner.njk' %} #}
        {% include 'header.njk' %}

        {# The in-page-nav is generated by USWDS based on headers inside the main tag.
        It requires that the main tag be wrapped in a section with an aside, which we only want rendered sometimes. #}
        {% if not in_page_nav %}
            <main id="main-content">
                {{ content | safe }}
            </main>
        {% else %}
            <div class="usa-section padding-top-0">                                
                <div class="usa-in-page-nav-container">
                    <aside
                        class="usa-in-page-nav"
                        data-title-text="On this page"
                        data-title-heading-level="h2"
                        data-scroll-offset="25"
                        data-root-margin="0px 0px 0px 0px"
                        data-threshold="1"
                    ></aside>
                    <div class="grid-container margin-bottom-4">
                        <main id="main-content" class="main-content usa-prose">
                            {{ content | safe }}
                        </main>
                    </div>
                </div>
            </div>
        {% endif %}

        {% include 'footer.njk' %}
        <script src="{{ config.baseUrl }}assets/js/uswds.min.js" type="text/javascript"></script>

        <!-- We participate in the US government's analytics program. See the data at analytics.usa.gov. -->
        <script async type="text/javascript" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA&subagency=TTS" id="_fed_an_ua_tag"></script>
        
        <script>
        //<![CDATA[
            var usasearch_config = { siteHandle:"fac-transition-site" };

            var script = document.createElement("script");
            script.type = "text/javascript";
            script.src = "//search.usa.gov/javascripts/remote.loader.js";
            document.getElementsByTagName("head")[0].appendChild(script);

        //]]>
        </script>
    </body>
</html>
