--- 
layout: layout.njk 
--- 
{% import 'components/macros.njk' as m %}

{% set dict_obj = "" %}
{% for dk, obj in directory.pages %}
    {% if dk == key %}
        {% set dict_obj = obj %}
    {% endif %}
{% endfor %}

<div class="grid-container margin-y-4">
    <div class="grid-row">
        <div class="grid-col usa-prose">
            <h1>{{title}}</h1>
        </div>

        <div class="grid-col">
            {{ m.applies_to(dict_obj.applies) }}
        </div>
    </div>
   
    <div class="grid-row">
        <div class="grid-col margin-y-4 desktop:grid-col-8 usa-prose">
            {{ content | safe }} 
        </div>
    </div>
</div>