<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	{% if "https" in config.baseUrl %}
		<meta http-equiv="refresh" content="0; url='{{ config.baseUrl }}{{ redirect.to }}'" />
	{% else %}
		<meta http-equiv="refresh" content="0; url='{{ redirect.to }}'" />
	{% endif %}
</head>
<body>
	You are being redirected to <a href="{{ redirect.to }}">{{ redirect.to }}</a>
</body>
</html>