<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="refresh" content="0; url='{{ config.baseUrl }}{{ redirect.to }}'" />
</head>
<body>
	You are being redirected to <a href="{{ config.baseUrl }}{{ redirect.to }}">{{ config.baseUrl }}{{ redirect.to }}</a>
</body>
</html>