  <section class="usa-hero" aria-label="Introduction">
    <div class="grid-container">
        <h1 class="usa-hero__heading">
          <span class="usa-hero__heading--alt">{{ hero.callout.alt }}</span>{{ hero.callout.text }}
        </h1>
        <img class="hero__graphic" src="/assets/img/tabular-thing.png" alt="">
        <a class="usa-button" href="{{ hero.button.href }}">{{ hero.button.text }}</a>

    </div>
  </section>
