{# For display from 2024/12/05 to 2024/12/10. #}
<section class="usa-alert usa-alert--warning margin-top-0" aria-label="Site alert">
    <div class="usa-alert__body grid-container">
        <h4 class="usa-alert__heading">Scheduled system maintenance</h4>
        <p class="usa-alert__text">
            FAC.gov will be performing maintenance on Tuesday, December 10, 2024 between 12:00 p.m. and 6:00 p.m ET.
            During this period, the entire website will be unavailable.
        </p>
    </div>
</section>
