{# When including this component, be sure to change the date ranges and messaging appropriately. #}
<section class="usa-alert usa-alert--warning margin-top-0" aria-label="Site alert">
    <div class="usa-alert__body grid-container">
      <h4 class="usa-alert__heading">Scheduled system maintenance</h4>
      <p class="usa-alert__text">
        FAC.gov will be performing maintenance on Tuesday, September 1, 2026, between 10:30 AM and 4:00 PM EDT.
        During this period, the entire application may be unavailable.
      </p>
  </div>
</section>
