<section class="usa-alert usa-alert--warning margin-top-0" aria-label="Site alert">
    <div class="usa-alert__body grid-container">
      <h4 class="usa-alert__heading">Scheduled system maintenance</h4>
      <p class="usa-alert__text">
        FAC.gov will be performing maintenance from Monday, April 21, 2025 between 9:00 AM and 6:00 PM ET.
        During this period, the entire website may be unavailable.
      </p>
  </div>
</section>
