{# When including this component, be sure to change the date ranges and messagin appropriately. #}
<section class="usa-alert usa-alert--warning margin-top-0" aria-label="Site alert">
    <div class="usa-alert__body grid-container">
      <h4 class="usa-alert__heading">Application Status</h4>
      <p class="usa-alert__text">
        The FAC application (app.fac.gov) is experiencing issues. We are investigating.
      </p>
  </div>
</section>
