---
layout: home.njk
title: Cognizant Agency Contacts
meta:
  name: Cognizant Agency Contacts
  description: Find your cognizant agency below.
---

<h1>Cognizant Agency Contacts</h1>

<p>Find your cognizant agency below.</p>



<div class="usa-table-container--scrollable" tabindex="0">
  <table class="usa-table usa-table--compact usa-table--striped usa-table--sticky-header width-full">
    <thead>
      <tr>
        <th scope="col">Agency</th>
        <th scope="col">Cognizant Agency POC Name</th>
        <th scope="col">Cognizant Agency POC Email </th>
      </tr>
    </thead>
    <tbody>
      {% for line in cognizant_agency_contacts["cognizant_agency_contacts"] %}
        <tr>
          <th scope="row">{{line.Agency}}</th>
          <th>{{line["Cognizant Agency POC Name"]}}</th>
          <th>{{line["Cognizant Agency POC Email"]}}</th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
