---
layout: home.njk
title: Cognizant Agency Contacts
meta:
  name: Cognizant Agency Contacts
  description: Find your cognizant agency below.
eleventyComputed:
  eleventyNavigation:
    key: Cognizant Agency Contacts
    parent: Contact resources
---

<h1>Cognizant Agency Contacts</h1>

<p>Find your cognizant agency below.</p>



<div class="" tabindex="0">
  <table class="usa-table usa-table--compact usa-table--striped usa-table--sticky-header width-full">
    <thead>
      <tr>
        <th scope="col">Agency</th>
        <th scope="col">Cognizant Agency POC Name</th>
        <th scope="col">Cognizant Agency POC Email </th>
        <th scope="col">Single Audit Extension POC Name </th>
        <th scope="col">Single Audit Extension POC Email </th>
      </tr>
    </thead>
    <tbody>
      {% for line in cognizant_agency_contacts["cognizant_agency_contacts"] %}
        <tr>
          <td scope="row">{{line.Agency}}</td>
          <td>{{line["Cognizant Agency for Audit POC Name"]}}</td>
          <td>{{line["Cognizant Agency for Audit POC Email"]}}</td>
          <td>{{line["Single Audit Extension POC Name"]}}</td>
          <td>{{line["Single Audit Extension POC Email"]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
