{% macro dashboardFrame(src) %}
{% if src %}
<iframe class="margin-top-8 margin-bottom-8"
  src="{{ src }}"
  frameborder="0"
  allowtransparency
  style="
    width: 90vw;
    height: 960px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  ">
</iframe>
{% else %}
  <div class="margin-y-8">
    <h2>Service Unavailable</h2>
    <p>Metabase host is not configured. Please try again later.</p>
  </div>
{% endif %}
{% endmacro %}