---
layout: home.njk
title: DEMO - Dashboards
meta:
  name: Metabase Dashboards
  description: Embedded Metabase dashboards.
eleventyNavigation:
  key: Dashboards
  parent: Analytics
---

{% if env.METABASE_HOST_URL %}
  <iframe class="margin-y-8"
    src="{{ env.METABASE_HOST_URL }}/{{ env.METABASE_TOKEN_DASHBOARDS }}"
    frameborder="0"
    width="100%"
    height="960"
    allowtransparency>
  </iframe>
{% else %}
  <div class="margin-y-8">
    <h2>Service Unavailable</h2>
    <p>Metabase host is not configured. Please try again later.</p>
  </div>
{% endif %}