---
permalink: "/feeds/rss/updates.xml"
eleventyExcludeFromCollections: true
metadata:
  title: "Updates from the FAC"
  description: "Periodic updates from the Federal Audit Clearinghouse"
  language: en
  base: "https://fac.gov/updates"
  author:
    name: "Clearinghouse staff"
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ baseUrl | htmlBaseUrl(baseUrl) }}" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ metadata.title }}</title>
    <link>{{ baseUrl | htmlBaseUrl(baseUrl) }}</link>
    <atom:link href="{{ permalink | htmlBaseUrl(baseUrl) }}" rel="self" type="application/rss+xml" />
    <description>{{ metadata.description }}</description>
    <language>{{ metadata.language or page.lang }}</language>
    {%- for post in collections.updates | reverse %}
    {%- set absolutePostUrl = post.url | htmlBaseUrl(baseUrl) %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ absolutePostUrl }}</link>
      <description>{{ post.content | renderTransforms(post.data.page, baseUrl) }}</description>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <dc:creator>{{ metadata.author.name }}</dc:creator>
      <guid>{{ absolutePostUrl }}</guid>
    </item>
    {%- endfor %}
  </channel>
</rss>