---
layout: home.njk
title: Updates from the FAC
meta:
  name: Updates from the Federal Audit Clearinghouse
  description: Stay up-to-date on the FAC transition and read the latest on the single audit process.
pagination:
  data: collections.post
  size: 1
  alias: post
  addAllPagesToCollections: true
permalink: "updates/{{ post.fileSlug | slugify }}/"
eleventyComputed:
  eleventyNavigation:
    key: "{{ post.data.title }}"
    parent: "FAC Updates"
---

<div class="grid-row">
  <div class="tablet:grid-col-9 tablet:padding-right-6">
    {# Title, description, date #}
    <h1>
      {% if post.data.title %}
        {{ post.data.title }}
      {% else %}
        {{ post.data.date | friendlydate }}
      {% endif %}
    </h1>
    <div class="font-sans-lg text-bold">{{ post.data.description }}</div>
    <p>{{ post.data.date | friendlydate }}</p>

    {# Image and caption, if they exist. #}
    {% if post.data.image_path and post.data.image_alt %}
      <div class="float-right width-mobile margin-left-3 margin-bottom-3">
        <img src="{{config.baseUrl}}{{post.data.image_path}}" style="border: 1px solid #555;" alt="{{post.data.image_alt}}" aria-controls="image-modal" data-open-modal/>
        {% if post.data.image_caption%}
          <p class="text-italic text-primary font-sans-sm margin-bottom-0 margin-top-1">{{post.data.image_caption | safe}}</p>
        {% endif %}
      </div>
    {% endif %}

    {# Image modal content #}
    <div class="usa-modal usa-modal--lg"
         id="image-modal"
         aria-labelledby="image-modal-heading"
         aria-describedby="image-modal-description">
      <div class="usa-modal__content">
        <div class="usa-modal__main">
          <h2 class="usa-modal__heading" id="image-modal-heading">
            Image
          </h2>
          <img src="{{config.baseUrl}}{{post.data.image_path}}"
               style="border: 1px solid #555;"
               alt="{{post.data.image_alt}}"/>
          <div class="usa-prose">
            <p id="image-modal-description">
              {{post.data.image_alt}}
            </p>
          </div>
          <div class="usa-modal__footer">
            <ul class="usa-button-group">
              <li class="usa-button-group__item">
                <button
                  type="button"
                  class="usa-button"
                  data-close-modal
                >
                  Go back
                </button>
              </li>
              <li class="usa-button-group__item">
                <a class="usa-button usa-button--unstyled padding-105 text-center"
                   href="{{config.baseUrl}}{{post.data.image_path}}"
                   target=_blank
                   rel="noopener noreferrer">
                  Open image in a new tab
                </a>
              </li>
            </ul>
          </div>
        </div>
        <button type="button"
          class="usa-button usa-modal__close"
          aria-label="Close this window"
          data-close-modal>
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <use xlink:href="{{ config.baseUrl }}assets/img/sprite.svg#close"></use>
          </svg>
        </button>
      </div>
    </div>

    {# Post content and recent updates collection #}
    <div class="margin-top-3 margin-bottom-6">{{ post.content | safe }}</div>
    {% include 'components/updates/collection_recent_updates.njk' %}
  </div>
  <div class="tablet:grid-col-3">
    {% include 'components/updates/card_subscribe.njk' %}
    {% include 'components/updates/card_how_we_work.njk' %}
  </div>
</div>
