--- 
layout: page.njk 
key: login
--- 

{% import 'components/macros.njk' as m %}

<p>
    To use the Federal Audit Clearinghouse, you will need to have an account with {{ m.glossary ("login", "login.gov") }}.
</p>

<p>
    What is login.gov?
</p>

<ul>
    <li>Login.gov is free.</li>
    <li>Login.gov lets you have one username and password across many government services.</li>
    <li>... and, really, {{ m.glossary("whatislogin", "they say it better than us") }}.</li>
</ul>

Login is used across many federal grants services. By using login.gov, we're working to create a uniform experience for grantees, auditors, and all users of the FAC.
