---
layout: home.njk
title: DEMO - Dashboards
meta:
  name: Metabase Repeat Findings
  description: Embedded Metabase dashboards.
eleventyNavigation:
  key: Repeat Findings
  parent: FAC Analytics
---
{% from "macros/analytics_dashboard.njk" import dashboardFrame %}

{{ dashboardFrame(env.METABASE_HOST_URL + "/" + env.METABASE_TOKEN_REPEAT_FINDINGS) }}

