{# From Figma, simplified via USWDS classes #}
<div class="width-card-lg bg-base-lightest padding-top-3 margin-top-3
            display-inline-flex flex-column flex-justify-center flex-align-start 
            border border-base-lighter radius-md">
  <div class="padding-y-1 padding-x-3 font-sans-lg text-bold">
    Subscribe to stay updated
  </div>
  <div class="padding-y-1 padding-x-3 font-sans-md text-bold">
      Receive FAC announcements and other Federal grants updates.
  </div>
  <div class="padding-top-3 padding-x-3 display-inline-flex flex-column flex-align-start">
    <div class="display-flex flex-column flex-align-self-stretch flex-align-start">
      <div class="display-inline-flex flex-align-self-stretch flex-justify-start flex-align-start">
        {% include 'components/updates/icon_agencies.njk' %}
        <div class="padding-left-1 maxw-card">
          <div class="font-sans-sm text-bold">
            Grantees and auditors
          </div>
          <div class="font-sans-2xs padding-top-1">
            <a class="usa-link" href="mailto:grantscommunity-subscribe-request@listserv.gsa.gov?subject=Subscribe">
              <span class="text-bold">grantscommunity-</span>subscribe-request@listserv.gsa.gov
            </a>
          </div>
        </div>
      </div>
      <div class="padding-top-3 display-inline-flex flex-align-self-stretch flex-justify-start flex-align-start">
        {% include 'components/updates/icon_grantees_auditors.njk' %}
        <div class="padding-left-1 maxw-card">
          <div class="font-sans-sm text-bold">
            Federal awarding agencies
          </div>
          <div class="font-sans-3xs text-bold padding-top-05">
            (Federal Employees only)
          </div>
          <div class="font-sans-2xs padding-top-1">
            <a class="usa-link" href="mailto:grantsfed-subscribe-request@listserv.gsa.gov?subject=Subscribe">
              <span class="text-bold">grantsfed-</span>subscribe-request@listserv.gsa.gov
            </a>
          </div>
        </div>
      </div>
    </div>
    <span class="font-sans-sm padding-y-3">
        To subscribe, email the relevant address above  with the subject line
        <span class="text-bold">
          "Subscribe"
        </span>
        to get tailored updates in your inbox.
    </span>
  </div>
</div>
