<div class="border-base-lighter radius-md bg-base-lightest margin-top-3 padding-3
            display-flex flex-column flex-align-stretch">
  <div class="margin-bottom-4 font-sans-lg text-bold">
    Most Recent Updates
  </div>

  <div class="display-inline-flex flex-column flex-align-start flex-justify-start">
    {% for post in collections.post | reverse | limit(3) %}
      <div class="padding-bottom-4 flex-align-self-stretch">
        <a class="usa-link font-sans-md text-bold" href="{{ config.baseUrl }}updates/{{ post.fileSlug | slugify }}/">
          {% if post.data.title %}
            {{ post.data.title }}
          {% else %}
            {{ post.data.date | friendlydate}}
          {% endif %}
        </a>
        {% if post.data.description %}
          <div class="font-sans-sm margin-top-2">{{ post.data.description }}</div>
        {% endif %}
        {% if post.data.date %}
          <div class="font-sans-2xs margin-top-2">{{ post.data.date | friendlydate }}</div>
        {% endif %}
        <div class="margin-top-2 flex-align-self-stretch height-0 border border-black"></div>
      </div>
    {% endfor %}
  </div>

  <a class="usa-link padding-top-2" href="/updates">
    <button class="usa-button" type="button">View All Updates</button>
  </a>
</div>