{# Light orange square and white icon, with strict size and position to avoid spacing shenanigans #}
<div style="width: 32px; height: 32px; position: relative">
    <div class="bg-accent-warm height-4 width-4 radius-pill"
        style="left: 0px; top: 0px; position: absolute;"></div>
    <div style="width: 19.20px; height: 19.20px; left: 6.40px; top: 6.40px; position: absolute">
        <svg style="width: 16px; height: 16.80px; left: 1.60px; top: 0.80px; position: absolute" 
             class="usa-icon text-base-lightest" aria-hidden="true" focusable="false" role="img">
            <use xlink:href="/assets/img/sprite.svg#groups"></use>
        </svg>
    </div>
</div>