<div class="width-full bg-accent-cool-lighter padding-3
            display-inline-flex flex-column flex-justify-start flex-align-start
            border border-base-lighter radius-md">
  <div class="font-sans-lg text-bold">
    Step-by-step guides
  </div>
  <div class="display-inline-flex flex-justify-start">
    <span class="font-sans-sm">
      {% set snippet %}{% include 'components/updates/step-by-step-guides.md' %}{% endset %}
      {{ snippet | markdown | safe }}
    </span>
  </div>
</div>
