---
layout: home.njk
title: "Workbook 8: Additional EINs"
meta:
  name: "Workbook 8: Additional EINs"
  description: "Follow these step-by-step instructions for completing Workbook 8: Additional EINs."
workbook:
  name: "additional-eins-workbook"
---

{% from "../../_includes/components/instructions.njk" import instructions, img with context %}

<h2>Workbook 8: Additional EINs</h2>

<div>
  <p>This workbook is only necessary if the single audit report covers multiple EINs.</p>

  <p><a href="{{ config.baseUrl }}assets/workbooks/additional-eins-workbook.xlsx">Download Workbook 8: Additional EINs</a></p> 

  <h3>If the report covers multiple EINs:</h3>

  <p><bold>Enter the EINs one per row in the workbook.</bold></p>
</div>
  
<div>
  {{ instructions(workbooks.InstructionsAdditionalEINs, workbook.name) }}
</div>
