---
layout: home.njk
title: "Workbook 5: Corrective action plan"
meta:
  name: "Workbook 5: Corrective action plan"
  description: "Follow these step-by-step instructions for completing Workbook 5: Corrective action plan."
workbook:
  name: "corrective-action-plan-workbook"
---

{% from "../../_includes/components/instructions.njk" import instructions, img with context %}

<h2>Workbook 5: Corrective action plan</h2>

<div>
  <p>This workbook is only necessary if you have Federal awards findings. If you do not have any Federal awards findings, you do not have to upload this workbook.</p>

  <p><a href="{{ config.baseUrl }}assets/workbooks/{{workbook.name}}.xlsx">Download {{meta.name}}</a></p>

</div>
  
<div>
  {{ instructions(workbooks.InstructionsCorrectiveActionPlan, workbook.name) }}
</div>
