---
layout: home.njk
title: "Workbook 4: Federal awards audit findings text"
meta:
  name: "Workbook 4: Federal awards audit findings text"
  description: "Follow these step-by-step instructions for completing Workbook 4: Federal awards audit findings text."
workbook:
  name: "audit-findings-text-workbook"
---

{% from "../../_includes/components/instructions.njk" import instructions, img with context %}

<h2>Workbook 4: Federal awards audit findings text</h2>

<div>
  <p>Enter your Federal awards findings text using the provided worksheet.</p>

  <p>If you do not have any Federal awards findings, you must still upload this workbook. Download the workbook, enter your entity UEI, save and upload.</p>


</div>
  
<div>
  {{ instructions(workbooks.InstructionsFederalAwardsAuditFindingsText, workbook.name) }}
</div>
