---
layout: home.njk
title: "Workbook 2: Notes to SEFA"
meta:
  name: "Workbook 2: Notes to SEFA"
  description: "Follow these step-by-step instructions for completing Workbook Workbook 2: Notes to SEFA."
workbook:
  name: "notes-to-sefa-workbook"
---


{%  macro getInstructions(inst, named_range) %}
  {% for inst_nr, obj in inst %}
    {% if inst_nr == named_range %}
      {{ obj.instructions }}
    {% endif %}
  {% endfor %}
{% endmacro %}

{%  macro instructions(inst, wb) %}
  {% set the_sheet = "" %}
  {% for named_range, v in inst %}
    {% for sheet in workbooks[wb]["sheets"] %}
      {% if loop.index == 2 %}
        {% set the_sheet = sheet %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% set ranges = the_sheet.open_ranges %}

  <dl>
  {% for column in ranges | sort(false, true, 'title_cell') %}
      <dt class="text-bold">Column {{column.title_cell.slice(0,1)}}: {{column.title}}</dt>
      <dd>
        {{ getInstructions(inst, column.range_name) }}
      </dd>
  {% endfor%}
  </dl>

{% endmacro %}

{% macro img(wb) %}
  <img src="{{config.baseUrl}}assets/img/workbooks/{{wb}}.png" 
    width=400 
    style="margin-left: 2em; margin-bottom: 2em; float: right; border: 1px solid #555;"/>
{% endmacro %}

<h2>Workbook 3: Federal awards audit findings text</h2>

<div style="float: right">
    {{ img(workbook.name) }}
</div>
<div>
  <p>Workbook 3: Federal awards audit findings text must be submitted.</p>

  <h3>If you do not have Federal awards findings text:</h3>

  <ol>
    <li>Open the workbook.</li>
    <li>Enter the auditee UEI.</li>
    <li>Save and submit the workbook.</li>
  </ol>

  <h3>If you have Federal awards findings text:</h3>

</div>
  
<div>
  {{ instructions(workbooks.InstructionsNotestoSEFA, workbook.name) }}
</div>
