---
layout: home.njk
title: DEMO - Metabase Embedding
meta:
  name: Metabase Analytics Embedding
  description: A demonstration page for embedding a metabase dashboard.
eleventyNavigation:
  key: Analytics
  parent: Home
---

{% from "macros/analytics_list.njk" import listingLink %}

<div class="margin-y-8" style="width: 50%;">
  <h1>Analytics</h1>
  <ul style="list-style:none; margin:0; padding:0; display:flex; flex-direction:column; gap:6px;">
    <li>
      {{ listingLink("{{ config.baseUrl }}analytics/data-explorer/", "Data Explorer") }}
    </li>
    <li>
      {{ listingLink("/analytics/yearly-trends/", "Yearly Trends") }}
    </li>
    <li>
      {{ listingLink("/analytics/state-graphs/", "State Graphs") }}
    </li>
    <li>
      {{ listingLink("/analytics/oversight-summaries/", "Oversight Summaries") }}
    </li>
    <li>
      {{ listingLink("/analytics/aln-search/", "ALN Search") }}
    </li>
    <li>
      {{ listingLink("/analytics/findings/", "Findings") }}
    </li>
  </ul>
</div>