@media (min-width: 64em) {
    .grid-row {
        gap: 2rem;
    }
    .sticky-nav {
        align-self: flex-start;
        position: sticky;
        top: 0;
    }
}

.grid-container .usa-sidenav {
    margin-left: 0;
    margin-right: 0;
}