@use 'uswds-core' as *;

@media (min-width: 64em) {
  .usa-logo {
    margin: 0;
  }

  .usa-header--basic .usa-nav {
    padding: 0;
  }

  .usa-header--basic .usa-nav-container {
    align-items: center;
  }

  .usa-header--basic .usa-navbar {
    width: 25%;
  }
}


.usa-menu-btn {
  background-color: color('primary-darker');
}

.usa-header {
  background-color: #f3f9fe;
  padding: 1.4rem 0;

  .usa-logo a {
    color: color('primary-darker');
    font-weight: 300;

    & strong {
      font-weight: bold;
    }

    &::before {
      content: url('../img/fac-logo.svg');
    }
  }
}
