@use "uswds-core" with (
    $theme-show-notifications: false,
    $theme-font-weight-semibold: 600,
    $theme-font-weight-heavy: 800,
);

@forward "uswds-theme";
@forward "uswds";
@forward "uswds-theme-custom-styles";
@forward "usa-icon";

@use '../main.scss';